body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#container-central {
    font-family: Arial, sans-serif;
}

.cabecalho-home {
    display: flex;
    gap: 250px;
    text-decoration: none;
    color: #fff;
    align-items: center;
    width: 100%;
}

.formulario-container h2 {
    text-align: center;
    font-size: 27px;
}

.butaoPesquisar {
    background-color:  #0073e6;
    border-radius: 5px;
    color: #fff ;
    border-color:  #0073e6;
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 25px;
    cursor: pointer;
}

.btn-sair {
    background-color: rgb(213, 17, 17);
    border-radius: 5px;
    border-color: rgb(213, 17, 17);
    font-size: 15px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: 25px;
    cursor: pointer;
}
.btn-sair a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #e60000;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-sair a:hover {
    background-color: #ff3333;
}

#lista-usuarios h1{
    text-align: center;
    margin-top: 40px;
    font-size: 27px;
}
.tabela-usuarios {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-usuarios th,
.tabela-usuarios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela-usuarios th {
    background-color: #f4f4f4;
    font-weight: bold;
}